<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Ercan Kardeşler Kuyumculuk</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        #Araclar {
            margin: 8px;
        }


        .araclarMenu {
            display: inline;
            height: 45px;
            /*width: 100px; !* Optional to keep buttons same size *!*/
            padding: 0px 1px;
            text-align: center;
            background-color: #394F85;
            padding: 2px 8px;
        }

        .navbar .btn {
            color: #394F85;
        }

        .btn {
            font-weight: 500;
        }
    </style>
</head>
<body>
    <div class="navbar" style="background-color:#394F85">
        <a class="navbar-brand">
            <img src="~/Images/logoson.png"
                 style="width: 125px;height:38px;">
        </a>
        <a href="/Anasayfa" button class="btn btn-light">ANA SAYFA</a>
        <a href="/Musteri/MusteriIslemleri" button class="btn btn-light">MÜŞTERİ İŞLEM</a>
        <a href="/Kuyumcu/Kuyumcu" button class="btn btn-light">KUYUMCU</a>
        <a href="/KuyumcuSorgu" button class="btn btn-light">SORGU</a>
        <a href="/PersonelTakip" button class="btn  btn-light">PERSONEL</a>
        <a href="/Finans" button class="btn btn-light">FİNANS</a>
        <a href="/Toptanci" button class="btn btn-light">TOPTANCI</a>
        <a href="/Ayarlar" button class="btn btn-light ">AYARLAR</a>
        <a href="../" button class="btn btn-light ">ÇIKIŞ YAP</a>
    </div>


    <div id="Araclar" class="collapsed">
        <a href="Finans/Onay" button class="btn btn-dark araclarMenu">FATURA EKRANI</a>
        <a href="Finans/BankaTanim" button class="btn btn-dark araclarMenu">BANKA TANIM</a>
        <a href="Finans/KomisyonTanim" button class="btn btn-dark araclarMenu">KOMİSYON TANIM</a>
        <a href="Finans/Gelir_Gider" button class="btn btn-dark araclarMenu">GELİR-GİDER</a>
        <a href="Finans/Kasa" button class="btn btn-dark araclarMenu">KASA</a>
        <a href="Finans/BankaIslemleri" button class="btn btn-dark araclarMenu">BANKA İŞLEMLERİ</a>
        <a href="Finans/BankadanOdeme" button class="btn btn-dark araclarMenu">BANKADAN ÖDEME</a>
        <a href="Finans/BorcEmanetIslemleri" button class="btn btn-dark araclarMenu">BORÇ-EMANET İŞLEMLERİ</a>
        <a href="Finans/BorcEmanetDetay" button class="btn btn-dark araclarMenu">BORÇ-EMANET DETAY</a>
        <a href="Finans/KKTahsilat" button class="btn btn-dark araclarMenu">KREDİ KARTI TAHSİLAT</a>
    </div>



</body>
</html>