<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Ercan Kardeşler Kuyumculuk</title>
    <link href="~/Content/sb-admin-2.min.css" rel="stylesheet">
    <style>
        .nav-link {
            font-weight: 750 !important;
        }

        #Araclar {
            margin: 8px;
        }

        .araclarMenu {
            display: inline;
            height: 45px;
            /*width: 100px; !* Optional to keep buttons same size *!*/
            padding: 0px 1px;
            text-align: center;
            background-color: #394F85;
            padding: 2px 8px;
        }

        .navbar .btn {
            color: #394F85;
        }

        .btn {
            font-weight: 500;
        }

        span {
            /*color: #fff;*/
        }
    </style>

</head>


<body id="page-top">
    <div class="navbar" style="background-color:#394F85">
        <a class="navbar-brand">
            <img src="~/Images/logoson.png"
                 style="width: 125px;height:38px;">
        </a>
        <a href="/Anasayfa" button class="btn btn-light">ANA SAYFA</a>
        <a href="/Musteri/MusteriIslemleri" button class="btn btn-light">MÜŞTERİ İŞLEM</a>
        <a href="/Kuyumcu/Kuyumcu" button class="btn btn-light">KUYUMCU</a>
        <a href="../KuyumcuSorgu" button class="btn btn-light">SORGU</a>
        <a href="/PersonelTakip" button class="btn  btn-light">PERSONEL</a>
        <a href="/Finans" button class="btn btn-light">FİNANS</a>
        <a href="/Toptanci" button class="btn btn-light">TOPTANCI</a>
        <a href="/Ayarlar" button class="btn btn-light ">AYARLAR</a>
        <a href="../" button class="btn btn-light ">ÇIKIŞ YAP</a>
    </div>

    <div id="Araclar" class="collapsed">
        <a href="/KuyumcuSorgu/Raporlar" button class="btn btn-dark araclarMenu">RAPORLAR</a>
        <a href="/KuyumcuSorgu/AlyansSatis" button class="btn btn-dark araclarMenu">ALYANS/PIRLANTA SATIŞ</a>
        <a href="/KuyumcuSorgu/AlyansSiparis" button class="btn btn-dark araclarMenu">ALYANS/PIRLANTA SİPARİŞ</a>
        <a href="/KuyumcuSorgu/AlyansTamir" button class="btn btn-dark araclarMenu">ALYANS/PIRLANTA TAMİR</a>
        <a href="/KuyumcuSorgu/Bugun" button class="btn btn-dark araclarMenu">BUGÜN</a>
        <a href="/KuyumcuSorgu/Pozisyonlar" button class="btn btn-dark araclarMenu">POZİSYONLAR</a>
        <a href="/KuyumcuSorgu/Sayim" button class="btn btn-dark araclarMenu">SAYIM</a>
    </div>


    <div class="row">
        <!-- Page Wrapper -->
        <div class="col-md-2">

            <!-- Sidebar -->
            <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color:#394F85;">

                <hr class="sidebar-divider my-0">


                <li class="nav-item active" style="font-size:20pt">
                    <a class="nav-link" href="#">
                        <i class="fas fa-fw fa-chart-line"></i>
                        <span style="font-size:15px; color: #fff;">RAPORLAR</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">


                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCrmRapor"
                       aria-expanded="true" aria-controls="collapseCrmRapor">
                        <i class="fas fa-fw fa-business-time"></i>
                        <span>CRM Rapor</span>
                    </a>
                    <div id="collapseCrmRapor" class="collapse" aria-labelledby="headingCrm" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">CRM Rapor</h6>
                            <a class="collapse-item" href=MusteriListesi>Müşteri Listesi</a>
                            <!--        <a class="collapse-item" href=""></a>-->
                        </div>
                    </div>
                </li>


                <hr class="sidebar-divider d-none d-md-block">

                <li class="nav-item">
                    <a class="nav-link collapsed" href="StokRapor" data-toggle="collapse" data-target="#collapseStokRapor"
                       aria-expanded="true" aria-controls="collapseStokRapor">
                        <i class="fas fa-fw fa-boxes"></i>
                        <span>Stok Rapor</span>
                    </a>
                    <div id="collapseStokRapor" class="collapse" aria-labelledby="headingStok"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Stok Raporları</h6>
                            <a class="collapse-item" href="StokListesi">Stok Listesi</a>
                            <a class="collapse-item" href="RafOmru">Raf Ömrü</a>
                            <a class="collapse-item" href="GrisKontrol">Giriş Kontrol</a>
                            <a class="collapse-item" href="PirlantaListesi">Pırlanta Stok</a>
                            <a class="collapse-item" href="PirlantaSatis">Pırlanta Satış</a>
                        </div>
                    </div>
                </li>


                <hr class="sidebar-divider">

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSatisRapor"
                       aria-expanded="true" aria-controls="collapsSatisRapor">
                        <i class="fas fa-fw fa-wallet"></i>
                        <span>Satış Rapor</span>
                    </a>
                    <div id="collapseSatisRapor" class="collapse" aria-labelledby="headingSatis"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Satış Raporları</h6>
                            <a class="collapse-item" href="SatisAyrinti">Satış Ayrıntı</a>
                            <a class="collapse-item" href="FaturaGirisRapor">Fatura Giriş Rapor</a>
                        </div>
                    </div>
                </li>

                <hr class="sidebar-divider d-none d-md-block">

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCariRapor"
                       aria-expanded="true" aria-controls="collapseCariRapor">
                        <i class="fas fa-fw fa-exchange-alt"></i>
                        <span>Cari Rapor</span>
                    </a>
                    <div id="collapseCariRapor" class="collapse" aria-labelledby="headingCari" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Cari Raporlar</h6>
                            <a class="collapse-item" href="MusteriEkstre">Müşteri Ekstre</a>
                            <a class="collapse-item" href="ToptanciEkstre">Toptancı Ekstre</a>
                            <a class="collapse-item" href="BankaEkstre">Banka Ekstre</a>
                            <a class="collapse-item" href="StokEkstre">Stok Ekstre</a>
                        </div>
                    </div>
                </li>

                <hr class="sidebar-divider d-none d-md-block">


                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFinansRapor"
                       aria-expanded="true" aria-controls="collapseFinansRapor">
                        <i class="fas fa-fw fa-chart-bar"></i>
                        <span>Finans Rapor</span>
                    </a>
                    <div id="collapseFinansRapor" class="collapse" aria-labelledby="headingFinans"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Finans Raporları</h6>
                            <a class="collapse-item" href="BankaRapor">Banka Rapor</a>
                            <!--                    <a class="collapse-item" href=""></a>-->
                        </div>
                    </div>
                </li>

                <hr class="sidebar-divider d-none d-md-block">


                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSiparisVeTamir"
                       aria-expanded="true" aria-controls="collapseSiparisVeTamir">
                        <i class="fas fa-fw fa-hammer"></i>
                        <span>Sipariş ve Tamir Rapor</span>
                    </a>
                    <div id="collapseSiparisVeTamir" class="collapse" aria-labelledby="headingSiparisTamir"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Sipariş ve Tamir Raporları</h6>
                            <a class="collapse-item" href="AlyanSiparis">Alyans Sipariş Ayrıntı</a>
                            <!--                    <a class="collapse-item" href=""></a>-->
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
            </ul>
        </div>
        <div class="col-md-10" style="padding: 25px;">

            <div>

                <script src="/Scripts/jszip.min.js"></script>
                <link href="/Content/dx.common.css" rel="stylesheet">
                <link href="/Content/dx.light.css" rel="stylesheet">
                <script src="/Scripts/jquery-2.2.3.js"></script>
                <script src="/Scripts/bootstrap.js"></script>
                <script src="/Scripts/cldr.js"></script>
                <script src="/Scripts/cldr/event.js"></script>
                <script src="/Scripts/cldr/supplemental.js"></script>
                <script src="/Scripts/cldr/unresolved.js"></script>
                <script src="/Scripts/globalize.js"></script>
                <script src="/Scripts/globalize/message.js"></script>
                <script src="/Scripts/globalize/number.js"></script>
                <script src="/Scripts/globalize/currency.js"></script>
                <script src="/Scripts/globalize/date.js"></script>
                <script src="/Scripts/dx.all.debug.js"></script>
                <script src="/Scripts/aspnet/dx.aspnet.data.js"></script>
                <script src="/Scripts/aspnet/dx.aspnet.mvc.js"></script>


                <script>DevExpress.config({ "serverDecimalSeparator": "," });</script><div id="devextreme0" class="dx-widget dx-visibility-change-handler" role="application" aria-label="Data grid"><div class="dx-datagrid dx-datagrid-borders"><div class="dx-hidden"></div><div class="dx-block-separator" style="display: none;">&nbsp;</div><div class="dx-hidden"></div><div class="dx-datagrid-header-panel"><div class="dx-toolbar dx-widget dx-visibility-change-handler dx-collection" role="toolbar"><div class="dx-toolbar-items-container"><div class="dx-toolbar-before" onclick="void(0)"><div class="dx-item dx-toolbar-item dx-toolbar-button"><div class="dx-item-content dx-toolbar-item-content"><div class="dx-datagrid-group-panel"><div class="dx-group-panel-message">Drag a column header here to group by that column</div></div></div></div></div><div class="dx-toolbar-center" onclick="void(0)" style="margin: 0px 0px 0px 353px; float: none;"></div><div class="dx-toolbar-after" onclick="void(0)"></div></div></div></div><div class="dx-datagrid-headers dx-datagrid-nowrap" style="padding-right: 0px;"><div class="dx-datagrid-content dx-datagrid-scroll-container"><table class="dx-datagrid-table dx-datagrid-table-fixed" role="grid" onclick="void(0)"><colgroup><col><col><col><col><col><col><col><col><col></colgroup><tbody><tr class="dx-row dx-column-lines dx-header-row" role="row" onclick="void(0)"><td role="columnheader" aria-label="TCNo Column" class="dx-datagrid-action dx-cell-focus-disabled dx-datagrid-drag-action" aria-sort="none" style="text-align: left;"><div class="dx-column-indicators" style="float: right;"><span class="dx-sort dx-sort-none"></span><span class="dx-header-filter dx-header-filter-empty" onclick="void(0)"></span></div><div class="dx-datagrid-text-content dx-text-content-alignment-left dx-header-filter-indicator">TCNo</div></td><td role="columnheader" aria-label="Ad Soyad Column" class="dx-datagrid-action dx-cell-focus-disabled dx-datagrid-drag-action" aria-sort="none" style="text-align: left;"><div class="dx-column-indicators" style="float: right;"><span class="dx-sort dx-sort-none"></span><span class="dx-header-filter dx-header-filter-empty" onclick="void(0)" title=""></span></div><div class="dx-datagrid-text-content dx-text-content-alignment-left dx-header-filter-indicator">Ad Soyad</div></td><td role="columnheader" aria-label="Dogum Tarihi Column" class="dx-datagrid-action dx-cell-focus-disabled dx-datagrid-drag-action" aria-sort="none" style="text-align: left;"><div class="dx-column-indicators" style="float: right;"><span class="dx-sort dx-sort-none"></span><span class="dx-header-filter dx-header-filter-empty" onclick="void(0)"></span></div><div class="dx-datagrid-text-content dx-text-content-alignment-left dx-header-filter-indicator">Dogum Tarihi</div></td><td role="columnheader" aria-label="Meslek Column" class="dx-datagrid-action dx-cell-focus-disabled dx-datagrid-drag-action" aria-sort="none" style="text-align: left;"><div class="dx-column-indicators" style="float: right;"><span class="dx-sort dx-sort-none"></span><span class="dx-header-filter dx-header-filter-empty" onclick="void(0)"></span></div><div class="dx-datagrid-text-content dx-text-content-alignment-left dx-header-filter-indicator">Meslek</div></td><td role="columnheader" aria-label="Cep Tel Column" class="dx-datagrid-action dx-cell-focus-disabled dx-datagrid-drag-action" aria-sort="none" style="text-align: left;"><div class="dx-column-indicators" style="float: right;"><span class="dx-sort dx-sort-none"></span><span class="dx-header-filter dx-header-filter-empty" onclick="void(0)"></span></div><div class="dx-datagrid-text-content dx-text-content-alignment-left dx-header-filter-indicator">Cep Tel</div></td><td role="columnheader" aria-label="Adres 1 Column" class="dx-datagrid-action dx-cell-focus-disabled dx-datagrid-drag-action" aria-sort="none" style="text-align: left;"><div class="dx-column-indicators" style="float: right;"><span class="dx-sort dx-sort-none"></span><span class="dx-header-filter dx-header-filter-empty" onclick="void(0)"></span></div><div class="dx-datagrid-text-content dx-text-content-alignment-left dx-header-filter-indicator">Adres 1</div></td><td role="columnheader" aria-label="Adres 2 Column" class="dx-datagrid-action dx-cell-focus-disabled dx-datagrid-drag-action" aria-sort="none" style="text-align: left;"><div class="dx-column-indicators" style="float: right;"><span class="dx-sort dx-sort-none"></span><span class="dx-header-filter dx-header-filter-empty" onclick="void(0)"></span></div><div class="dx-datagrid-text-content dx-text-content-alignment-left dx-header-filter-indicator">Adres 2</div></td><td role="columnheader" aria-label="Il Column" class="dx-datagrid-action dx-cell-focus-disabled dx-datagrid-drag-action" aria-sort="none" style="text-align: left;"><div class="dx-column-indicators" style="float: right;"><span class="dx-sort dx-sort-none"></span><span class="dx-header-filter dx-header-filter-empty" onclick="void(0)"></span></div><div class="dx-datagrid-text-content dx-text-content-alignment-left dx-header-filter-indicator">Il</div></td><td role="columnheader" aria-label="Ilce Column" class="dx-datagrid-action dx-cell-focus-disabled dx-datagrid-drag-action" aria-sort="none" style="text-align: left;"><div class="dx-column-indicators" style="float: right;"><span class="dx-sort dx-sort-none"></span><span class="dx-header-filter dx-header-filter-empty" onclick="void(0)"></span></div><div class="dx-datagrid-text-content dx-text-content-alignment-left dx-header-filter-indicator">Ilce</div></td></tr><tr class="dx-row dx-column-lines dx-datagrid-filter-row" role="row"><td role="gridcell" aria-label="Column TCNo, Filter cell" class="dx-editor-cell" style="text-align: left;"><div class="dx-editor-with-menu"><div class="dx-widget dx-visibility-change-handler dx-collection dx-menu-base dx-datagrid dx-cell-focus-disabled dx-filter-menu dx-menu" tabindex="0" aria-activedescendant="dx-30caac6a-1da9-c0ad-1256-db54dd7d5ba4" onclick="void(0)" role="menubar"><div class="dx-menu-horizontal"><ul class="dx-menu-items-container"><li class="dx-menu-item-wrapper"><div class="dx-item dx-menu-item dx-menu-item-has-icon dx-menu-item-has-submenu" role="menuitem" tabindex="-1" aria-haspopup="true"><div class="dx-item-content dx-menu-item-content"><i class="dx-icon dx-icon-filter-operation-default"></i><span class="dx-menu-item-popout-container"><div class="dx-menu-item-popout"></div></span></div></div></li></ul></div></div><div class="dx-editor-container"><div class="dx-texteditor dx-texteditor-empty dx-widget dx-textbox"><div class="dx-texteditor-container"><input autocomplete="off" class="dx-texteditor-input" type="text" spellcheck="false" tabindex="0" name="" role="textbox" style="text-align: left;"><div class="dx-placeholder"></div><div class="dx-texteditor-buttons-container"></div></div></div></div></div></td><td role="gridcell" aria-label="Column Ad Soyad, Filter cell" class="dx-editor-cell" style="text-align: left;"><div class="dx-editor-with-menu"><div class="dx-widget dx-visibility-change-handler dx-collection dx-menu-base dx-datagrid dx-cell-focus-disabled dx-filter-menu dx-menu" tabindex="0" aria-activedescendant="dx-747e6736-321f-8d25-60e7-a3b136960f12" onclick="void(0)" role="menubar"><div class="dx-menu-horizontal"><ul class="dx-menu-items-container"><li class="dx-menu-item-wrapper"><div class="dx-item dx-menu-item dx-menu-item-has-icon dx-menu-item-has-submenu" role="menuitem" tabindex="-1" aria-haspopup="true"><div class="dx-item-content dx-menu-item-content"><i class="dx-icon dx-icon-filter-operation-default"></i><span class="dx-menu-item-popout-container"><div class="dx-menu-item-popout"></div></span></div></div></li></ul></div></div><div class="dx-editor-container"><div class="dx-datebox dx-datebox-date dx-datebox-calendar dx-texteditor dx-texteditor-empty dx-dropdowneditor-button-visible dx-widget dx-visibility-change-handler dx-textbox dx-dropdowneditor" style="width: auto;"><div class="dx-dropdowneditor-input-wrapper"><input type="hidden" value="" name=""><div class="dx-texteditor-container"><input autocomplete="off" class="dx-texteditor-input" aria-haspopup="true" aria-autocomplete="list" type="text" spellcheck="false" tabindex="0" role="combobox" aria-expanded="false" style="text-align: left;"><div data-dx_placeholder="" class="dx-placeholder"></div><div class="dx-texteditor-buttons-container"><div class="dx-dropdowneditor-button dx-button-normal dx-widget" onclick="void(0)" role="button"><div class="dx-button-content"><div class="dx-dropdowneditor-icon"></div></div></div></div></div></div></div></div></div></td><td role="gridcell" aria-label="Column Dogum Tarihi, Filter cell" class="dx-editor-cell" style="text-align: left;"><div class="dx-editor-with-menu"><div class="dx-widget dx-visibility-change-handler dx-collection dx-menu-base dx-datagrid dx-cell-focus-disabled dx-filter-menu dx-menu" tabindex="0" aria-activedescendant="dx-04172a74-8844-44fb-59c5-3738e0985ea7" onclick="void(0)" role="menubar"><div class="dx-menu-horizontal"><ul class="dx-menu-items-container"><li class="dx-menu-item-wrapper"><div class="dx-item dx-menu-item dx-menu-item-has-icon dx-menu-item-has-submenu" role="menuitem" tabindex="-1" aria-haspopup="true"><div class="dx-item-content dx-menu-item-content"><i class="dx-icon dx-icon-filter-operation-default"></i><span class="dx-menu-item-popout-container"><div class="dx-menu-item-popout"></div></span></div></div></li></ul></div></div><div class="dx-editor-container"><div class="dx-texteditor dx-texteditor-empty dx-widget dx-textbox"><div class="dx-texteditor-container"><input autocomplete="off" class="dx-texteditor-input" type="text" spellcheck="false" tabindex="0" name="" role="textbox" style="text-align: left;"><div class="dx-placeholder"></div><div class="dx-texteditor-buttons-container"></div></div></div></div></div></td><td role="gridcell" aria-label="Column Meslek, Filter cell" class="dx-editor-cell" style="text-align: left;"><div class="dx-editor-with-menu"><div class="dx-widget dx-visibility-change-handler dx-collection dx-menu-base dx-datagrid dx-cell-focus-disabled dx-filter-menu dx-menu" tabindex="0" aria-activedescendant="dx-219e99cd-62e1-717c-cc0f-82ad76181e25" onclick="void(0)" role="menubar"><div class="dx-menu-horizontal"><ul class="dx-menu-items-container"><li class="dx-menu-item-wrapper"><div class="dx-item dx-menu-item dx-menu-item-has-icon dx-menu-item-has-submenu" role="menuitem" tabindex="-1" aria-haspopup="true"><div class="dx-item-content dx-menu-item-content"><i class="dx-icon dx-icon-filter-operation-default"></i><span class="dx-menu-item-popout-container"><div class="dx-menu-item-popout"></div></span></div></div></li></ul></div></div><div class="dx-editor-container"><div class="dx-texteditor dx-texteditor-empty dx-widget dx-textbox"><div class="dx-texteditor-container"><input autocomplete="off" class="dx-texteditor-input" type="text" spellcheck="false" tabindex="0" name="" role="textbox" style="text-align: left;"><div class="dx-placeholder"></div><div class="dx-texteditor-buttons-container"></div></div></div></div></div></td><td role="gridcell" aria-label="Column Cep Tel, Filter cell" class="dx-editor-cell" style="text-align: left;"><div class="dx-editor-with-menu"><div class="dx-widget dx-visibility-change-handler dx-collection dx-menu-base dx-datagrid dx-cell-focus-disabled dx-filter-menu dx-menu" tabindex="0" aria-activedescendant="dx-264d6953-bed5-c454-e075-d366ed8e5456" onclick="void(0)" role="menubar"><div class="dx-menu-horizontal"><ul class="dx-menu-items-container"><li class="dx-menu-item-wrapper"><div class="dx-item dx-menu-item dx-menu-item-has-icon dx-menu-item-has-submenu" role="menuitem" tabindex="-1" aria-haspopup="true"><div class="dx-item-content dx-menu-item-content"><i class="dx-icon dx-icon-filter-operation-default"></i><span class="dx-menu-item-popout-container"><div class="dx-menu-item-popout"></div></span></div></div></li></ul></div></div><div class="dx-editor-container"><div class="dx-datebox dx-datebox-date dx-datebox-calendar dx-texteditor dx-texteditor-empty dx-dropdowneditor-button-visible dx-widget dx-visibility-change-handler dx-textbox dx-dropdowneditor" style="width: auto;"><div class="dx-dropdowneditor-input-wrapper"><input type="hidden" value="" name=""><div class="dx-texteditor-container"><input autocomplete="off" class="dx-texteditor-input" aria-haspopup="true" aria-autocomplete="list" type="text" spellcheck="false" tabindex="0" role="combobox" aria-expanded="false" style="text-align: left;"><div data-dx_placeholder="" class="dx-placeholder"></div><div class="dx-texteditor-buttons-container"><div class="dx-dropdowneditor-button dx-button-normal dx-widget" onclick="void(0)" role="button"><div class="dx-button-content"><div class="dx-dropdowneditor-icon"></div></div></div></div></div></div></div></div></div></td><td role="gridcell" aria-label="Column Adres 1, Filter cell" class="dx-editor-cell" style="text-align: left;"><div class="dx-editor-with-menu"><div class="dx-widget dx-visibility-change-handler dx-collection dx-menu-base dx-datagrid dx-cell-focus-disabled dx-filter-menu dx-menu" tabindex="0" aria-activedescendant="dx-e235984a-1265-1fc8-ac2a-87134a9872fa" onclick="void(0)" role="menubar"><div class="dx-menu-horizontal"><ul class="dx-menu-items-container"><li class="dx-menu-item-wrapper"><div class="dx-item dx-menu-item dx-menu-item-has-icon dx-menu-item-has-submenu" role="menuitem" tabindex="-1" aria-haspopup="true"><div class="dx-item-content dx-menu-item-content"><i class="dx-icon dx-icon-filter-operation-default"></i><span class="dx-menu-item-popout-container"><div class="dx-menu-item-popout"></div></span></div></div></li></ul></div></div><div class="dx-editor-container"><div class="dx-texteditor dx-texteditor-empty dx-widget dx-textbox"><div class="dx-texteditor-container"><input autocomplete="off" class="dx-texteditor-input" type="text" spellcheck="false" tabindex="0" name="" role="textbox" style="text-align: left;"><div class="dx-placeholder"></div><div class="dx-texteditor-buttons-container"></div></div></div></div></div></td><td role="gridcell" aria-label="Column Adres 2, Filter cell" class="dx-editor-cell" style="text-align: left;"><div class="dx-editor-with-menu"><div class="dx-widget dx-visibility-change-handler dx-collection dx-menu-base dx-datagrid dx-cell-focus-disabled dx-filter-menu dx-menu" tabindex="0" aria-activedescendant="dx-432ecba7-2569-fab3-f37f-b06e65aa3642" onclick="void(0)" role="menubar"><div class="dx-menu-horizontal"><ul class="dx-menu-items-container"><li class="dx-menu-item-wrapper"><div class="dx-item dx-menu-item dx-menu-item-has-icon dx-menu-item-has-submenu" role="menuitem" tabindex="-1" aria-haspopup="true"><div class="dx-item-content dx-menu-item-content"><i class="dx-icon dx-icon-filter-operation-default"></i><span class="dx-menu-item-popout-container"><div class="dx-menu-item-popout"></div></span></div></div></li></ul></div></div><div class="dx-editor-container"><div class="dx-datebox dx-datebox-date dx-datebox-calendar dx-texteditor dx-texteditor-empty dx-dropdowneditor-button-visible dx-widget dx-visibility-change-handler dx-textbox dx-dropdowneditor" style="width: auto;"><div class="dx-dropdowneditor-input-wrapper"><input type="hidden" value="" name=""><div class="dx-texteditor-container"><input autocomplete="off" class="dx-texteditor-input" aria-haspopup="true" aria-autocomplete="list" type="text" spellcheck="false" tabindex="0" role="combobox" aria-expanded="false" style="text-align: left;"><div data-dx_placeholder="" class="dx-placeholder"></div><div class="dx-texteditor-buttons-container"><div class="dx-dropdowneditor-button dx-button-normal dx-widget" onclick="void(0)" role="button"><div class="dx-button-content"><div class="dx-dropdowneditor-icon"></div></div></div></div></div></div></div></div></div></td><td role="gridcell" aria-label="Column Il, Filter cell" class="dx-editor-cell" style="text-align: left;"><div class="dx-editor-with-menu"><div class="dx-widget dx-visibility-change-handler dx-collection dx-menu-base dx-datagrid dx-cell-focus-disabled dx-filter-menu dx-menu" tabindex="0" aria-activedescendant="dx-f6f25ab9-8541-be82-30d1-be33d1b9940a" onclick="void(0)" role="menubar"><div class="dx-menu-horizontal"><ul class="dx-menu-items-container"><li class="dx-menu-item-wrapper"><div class="dx-item dx-menu-item dx-menu-item-has-icon dx-menu-item-has-submenu" role="menuitem" tabindex="-1" aria-haspopup="true"><div class="dx-item-content dx-menu-item-content"><i class="dx-icon dx-icon-filter-operation-default"></i><span class="dx-menu-item-popout-container"><div class="dx-menu-item-popout"></div></span></div></div></li></ul></div></div><div class="dx-editor-container"><div class="dx-texteditor dx-texteditor-empty dx-widget dx-textbox"><div class="dx-texteditor-container"><input autocomplete="off" class="dx-texteditor-input" type="text" spellcheck="false" tabindex="0" name="" role="textbox" style="text-align: left;"><div class="dx-placeholder"></div><div class="dx-texteditor-buttons-container"></div></div></div></div></div></td><td role="gridcell" aria-label="Column Ilce, Filter cell" class="dx-editor-cell" style="text-align: left;"><div class="dx-editor-with-menu"><div class="dx-widget dx-visibility-change-handler dx-collection dx-menu-base dx-datagrid dx-cell-focus-disabled dx-filter-menu dx-menu" tabindex="0" aria-activedescendant="dx-82f781cc-9d72-5665-151a-6759df51b008" onclick="void(0)" role="menubar"><div class="dx-menu-horizontal"><ul class="dx-menu-items-container"><li class="dx-menu-item-wrapper"><div class="dx-item dx-menu-item dx-menu-item-has-icon dx-menu-item-has-submenu" role="menuitem" tabindex="-1" aria-haspopup="true"><div class="dx-item-content dx-menu-item-content"><i class="dx-icon dx-icon-filter-operation-default"></i><span class="dx-menu-item-popout-container"><div class="dx-menu-item-popout"></div></span></div></div></li></ul></div></div><div class="dx-editor-container"><div class="dx-texteditor dx-texteditor-empty dx-widget dx-textbox"><div class="dx-texteditor-container"><input autocomplete="off" class="dx-texteditor-input" type="text" spellcheck="false" tabindex="0" name="" role="textbox" style="text-align: left;"><div class="dx-placeholder"></div><div class="dx-texteditor-buttons-container"></div></div></div></div></div></td></tr></tbody></table></div></div><div class="dx-datagrid-rowsview dx-datagrid-nowrap" style="height: auto;"><div class="dx-datagrid-content"><table class="dx-datagrid-table dx-datagrid-table-fixed" role="grid" onclick="void(0)"><colgroup><col><col><col><col><col><col><col><col><col></colgroup><tbody><tr class="dx-row dx-data-row dx-column-lines" role="row" aria-selected="false"><td role="gridcell" aria-label="Column TCNo, Value 232361" tabindex="0" style="text-align: left;">232361</td><td role="gridcell" aria-label="Column Ad Soyad, Value mustafa" style="text-align: left;">mustafa</td><td role="gridcell" aria-label="Column Dogum Tarihi, Value 1994-01-01T00:00:00" style="text-align: left;">1994-01-01T00:00:00</td><td role="gridcell" aria-label="Column Meslek, Value asd" style="text-align: left;">asd</td><td role="gridcell" aria-label="Column Cep Tel, Value asd" style="text-align: left;">asd</td><td role="gridcell" aria-label="Column Adres 1, Value ads" style="text-align: left;">ads</td><td role="gridcell" aria-label="Column Adres 2, Value asd" style="text-align: left;">asd</td><td role="gridcell" aria-label="Column Il, Value das" style="text-align: left;">das</td><td role="gridcell" aria-label="Column Ilce, Value asd" style="text-align: left;">asd</td></tr><tr class="dx-row dx-freespace-row dx-column-lines" role="row" style="height: 0px; display: none;"><td role="gridcell" style="text-align: left;"></td><td role="gridcell" style="text-align: left;"></td><td role="gridcell" style="text-align: left;"></td><td role="gridcell" style="text-align: left;"></td><td role="gridcell" style="text-align: left;"></td><td role="gridcell" style="text-align: left;"></td><td role="gridcell" style="text-align: left;"></td><td role="gridcell" style="text-align: left;"></td><td role="gridcell" style="text-align: left;"></td></tr></tbody></table></div><span class="dx-datagrid-nodata dx-hidden"></span></div><div class="dx-overlay dx-widget dx-visibility-change-handler dx-loadpanel dx-state-invisible"><div class="dx-overlay-content dx-resizable dx-loadpanel-content dx-state-invisible" style="width: 200px; height: 90px; z-index: 1501; margin: 0px; left: 0px; top: 0px; transform: translate(619px, 24px);" aria-hidden="true"><div class="dx-loadpanel-content-wrapper"><div class="dx-loadpanel-indicator dx-loadindicator dx-widget"><div class="dx-loadindicator-wrapper"><div class="dx-loadindicator-content"><div class="dx-loadindicator-icon"><div class="dx-loadindicator-segment dx-loadindicator-segment7"></div><div class="dx-loadindicator-segment dx-loadindicator-segment6"></div><div class="dx-loadindicator-segment dx-loadindicator-segment5"></div><div class="dx-loadindicator-segment dx-loadindicator-segment4"></div><div class="dx-loadindicator-segment dx-loadindicator-segment3"></div><div class="dx-loadindicator-segment dx-loadindicator-segment2"></div><div class="dx-loadindicator-segment dx-loadindicator-segment1"></div><div class="dx-loadindicator-segment dx-loadindicator-segment0"></div></div></div></div></div><div class="dx-loadpanel-message">Loading...</div></div></div></div><div class="dx-datagrid-total-footer dx-datagrid-nowrap" style="padding-right: 0px;"><div class="dx-datagrid-content dx-datagrid-scroll-container"><table class="dx-datagrid-table dx-datagrid-table-fixed" role="grid" onclick="void(0)"><colgroup><col><col><col><col><col><col><col><col><col></colgroup><tbody><tr class="dx-row" role="row"><td role="gridcell" aria-label="Column TCNo, Value undefined" style="text-align: left;"><div class="dx-datagrid-summary-item dx-datagrid-text-content" style="text-align: left;">Count: 1</div></td><td role="gridcell" aria-label="Column Ad Soyad, Value undefined" style="text-align: left;"></td><td role="gridcell" aria-label="Column Dogum Tarihi, Value undefined" style="text-align: left;"></td><td role="gridcell" aria-label="Column Meslek, Value undefined" style="text-align: left;"></td><td role="gridcell" aria-label="Column Cep Tel, Value undefined" style="text-align: left;"></td><td role="gridcell" aria-label="Column Adres 1, Value undefined" style="text-align: left;"></td><td role="gridcell" aria-label="Column Adres 2, Value undefined" style="text-align: left;"></td><td role="gridcell" aria-label="Column Il, Value undefined" style="text-align: left;"></td><td role="gridcell" aria-label="Column Ilce, Value undefined" style="text-align: left;"></td></tr></tbody></table></div></div><div></div><div class="dx-hidden"></div><div class="dx-datagrid-drag-header dx-datagrid-text-content dx-widget" style="display: none;"></div><div class="dx-context-menu dx-has-context-menu dx-widget dx-visibility-change-handler dx-collection dx-datagrid" role="menu"></div><div class="dx-header-filter-menu"></div></div></div>
                <script>jQuery(function ($) { $("#devextreme0").dxDataGrid({ "showBorders": true, "dataSource": { "store": DevExpress.data.AspNet.createStore({ "key": "OrderID", "loadUrl": "/api/Orders", "insertUrl": "/api/Orders/Post", "updateUrl": "/api/Orders/Put", "deleteUrl": "/api/Orders/Delete" }) }, "columns": [{ "dataField": "TCNo" }, { "dataField": "AdSoyad" }, { "dataField": "DogumTarihi", "dataType": "date" }, { "dataField": "Meslek" }, { "dataField": "CepTel" }, { "dataField": "Adres1" }, { "dataField": "Adres2" }, { "dataField": "Il" }, { "dataField": "Ilce" }], "paging": { "pageSize": 10 }, "filterRow": { "visible": true }, "headerFilter": { "visible": true }, "groupPanel": { "visible": true }, "grouping": { "autoExpandAll": false }, "remoteOperations": true, "summary": { "totalItems": [{ "column": "TCNo", "summaryType": "count" }], "groupItems": [{ "summaryType": "count" }] } }); });</script>

            </div>


            @(Html.DevExtreme().DataGrid()
                                                         .ShowBorders(true)
                                                         .DataSource(d => d.WebApi().Controller("Orders").LoadAction("Get17").Key("id"))
                                                         .Columns(columns =>
                                                         {
                                                             columns.Add().DataField("id").Caption("Id");
                                                             columns.Add().DataField("MusteriAdi").Caption("Müşteri Adı");
                                                             columns.Add().DataField("UrunId").Caption("Alyans Kodu");
                                                             columns.Add().DataField("Olcu").Caption("Ölçü");
                                                             columns.Add().DataField("Renk").Caption("Renk");
                                                             columns.Add().DataField("Gram");
                                                             columns.Add().DataField("Kapora");
                                                             columns.Add().DataField("Kalan").Caption("Kalan Tutar");
                                                             columns.Add().DataField("SatisTutari").Caption("Satış Tutarı");
                                                             columns.Add().DataField("SiparisTarihi").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy");
                                                             columns.Add().DataField("TeslimTarihi").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy");
                                                             columns.Add().DataField("TeslimAlan").Caption("Teslim Alan");
                                                             columns.Add().DataField("Aciklama").Caption("Açıklama");
                                                             columns.Add().DataField("Islemci").Caption("Personel");

                                                         })
                                                          .Export(e => e.Enabled(true).AllowExportSelectedData(true))
                                                          .Selection(s => s.Mode(SelectionMode.Multiple))
                                                          .Paging(p => p.PageSize(10))
                                                          .FilterRow(f => f.Visible(true))
                                                          .HeaderFilter(f => f.Visible(true))
                                                          .GroupPanel(p => p.Visible(true))
                                                          .Grouping(g => g.AutoExpandAll(false))
                                                          .AllowColumnReordering(true)
                                                          .AllowColumnResizing(true)
                                                          .RemoteOperations(true)
                                                          .Summary(s => s
                                                          .TotalItems(totalItems =>
                                                          {
                                                              totalItems.Add().Column("id").SummaryType(SummaryType.Count);
                                                          })
                                                          .GroupItems(groupItems =>
                                                          {
                                                              groupItems.Add().SummaryType(SummaryType.Count);
                                                          })
                                                         )
                                                          .ColumnAutoWidth(true)
            )

        </div>
    </div>


    <script>
        !function (t) {
            "use strict";
            t("#sidebarToggle, #sidebarToggleTop").on("click", function (o) {
                t("body").toggleClass("sidebar-toggled"), t(".sidebar").toggleClass("toggled"), t(".sidebar").hasClass("toggled") && t(".sidebar .collapse").collapse("hide")
            }), t(window).resize(function () {
                t(window).width() < 768 && t(".sidebar .collapse").collapse("hide")
            }), t("body.fixed-nav .sidebar").on("mousewheel DOMMouseScroll wheel", function (o) {
                if (768 < t(window).width()) {
                    var e = o.originalEvent, l = e.wheelDelta || -e.detail;
                    this.scrollTop += 30 * (l < 0 ? 1 : -1), o.preventDefault()
                }
            }), t(document).on("scroll", function () {
                100 < t(this).scrollTop() ? t(".scroll-to-top").fadeIn() : t(".scroll-to-top").fadeOut()
            }), t(document).on("click", "a.scroll-to-top", function (o) {
                var e = t(this);
                t("html, body").stop().animate({ scrollTop: t(e.attr("href")).offset().top }, 1e3, "easeInOutExpo"), o.preventDefault()
            })
        }(jQuery);

    </script>

</body>

</html>